@model List<Product>
@{
}

<h1 class=" text-center mb-4">List of products </h1> 

<div class=" row mb-3">
	<div class=" col">
		@* <a class=" btn btn-primary" asp-controller="Products" asp-action="Create"> New product </a> *@
	</div>
	<div class=" col">

	</div>

</div>

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Category</th>
			<th>Availability</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>

		@foreach (var product in Model)
		{
			<tr>

				<td>@product.Name</td>
				<td>@(product.Price)</td>
				<td>@product.Category</td>
				<td>@product.Availability</td>
				<td style="white-space: nowrap">
					@* <a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="Edit"
					asp-route-id="@product.Name">Edit</a>
					<a class="btn btn-primary btn-sm" asp-controller="Products" asp-action="Delete"
					   asp-route-id="@product.Name">Delete</a> *@
					<a class="btn btn-primary btn-sm" href="/Purchase">Purchase</a>
				</td>

			</tr>
		}

	</tbody>
</table>
